@font-face {
    font-family: jetbrains-mono;
    src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: IBM-plex-mono;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: Garamond;
    src: url(../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

html, body {
    font-family: IBM-plex-mono;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 500px;
}

a {
    color: #000000;
    text-decoration: none;
}

.accent {
    color: #0077b6;
}

.header_container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    padding-top: 30px;
    padding-left: 100px;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
}

.title {
    float: left;
    margin-right: 100px;
}

.menu {
    float: right;
}

.menu > a {
    color: black;
    margin-right: 30px;
    -webkit-transition: color 200ms linear, text-decoration 200ms ease;
    -moz-transition: color 200ms linear, text-decoration 200ms ease;
    -o-transition: color 200ms linear, text-decoration 200ms ease;
    transition: color 200ms linear, text-decoration 200ms ease;
    position: relative;
    text-decoration: none;
}

.menu > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out 0s;
}

.menu > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.menu > a:hover {
    color: #202A25;
}

.container {
    margin: 100px;
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    width: 100%;
}

.content h1 {
    font-size: 46px;
}

.content p {
    font-size: 20px;
    line-height: 2;
    padding-bottom: 15px;
    text-align: justify;
}

.download {
    width: 100%;
    text-align: center !important;
}

.download > a {
    color: #0077b6;
    -webkit-transition: color 200ms linear, text-decoration 200ms ease;
    -moz-transition: color 200ms linear, text-decoration 200ms ease;
    -o-transition: color 200ms linear, text-decoration 200ms ease;
    transition: color 200ms linear, text-decoration 200ms ease;
    position: relative;
    text-decoration: none;
}

.download > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out 0s;
}

.download > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.download > a:hover {
    color: black;
}

.media_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image {
    object-fit: contain;
    margin-right: 50px;
    margin-left: 20px;
}

.image img {
    max-height: 600px;
    width: auto;
}

.social_container {
    width: 100%;
    margin: 0;
}

.instagram {
    margin: auto;
    width: 50%;
    margin-top: 150px;
}

.instagram h1 {
    font-size: 36px;
}

.instagram iframe {
    height: 520px;
}

.links {
    padding-top: 20px;
    margin: auto;
    width: 50%;
}

.links h1 {
    width: 100%;
    text-align: center;
}

.links ul {
    width: 100%;    
    display: inline-flex;
    justify-content: space-evenly;
}

.links ul li {
    list-style: none;
    vertical-align: bottom;
    margin-right: 50px;
}

.links img {
    object-fit: contain;
    width: 32px;
    height: 32px;
}